@model MobileStore.Models.Product

@{
    ViewBag.Title = "Product Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <div class="col-sm-7">

        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.Brand.BrandName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Brand.BrandName)



            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Category.CategoryName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category.CategoryName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)


            </dd>

            @*<dt>
                    @Html.DisplayNameFor(model => model.ImageUrl)
                </dt>*@

            @*<dd>
                    <img src="~/Content/Upload/ProductImages/@Html.DisplayFor(model => model.ImageUrl)" width="300" height="300" style="border:solid">
                </dd>*@

            <dt>
                @Html.DisplayNameFor(model => model.AvailableProduct)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AvailableProduct)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SoldProduct)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SoldProduct)
            </dd>

        </dl>
    </div>
   
    
    <div class="col-sm-5">
      <img src="~/Content/Upload/ProductImages/@Html.DisplayFor(model => model.ImageUrl)" width="300" height="300" style="margin-top:20px;margin-right:40px">
    
    </div>
        

</div>
    
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
